import React from 'react'
import PropTypes from 'prop-types'

class {{ properCase name }} extends React.PureComponent {

  static propTypes = {

  }

  render() {
    return (
      <div>
      </div>
    )
  }
}

export default {{ properCase name }}
