import React from 'react'

class {{ properCase name }} extends React.Component {
  render() {
    return (
      <div>
      </div>
    )
  }
}

{{ properCase name }}.propTypes = {

}

export default {{ properCase name }}
