import React from 'react'
import PropTypes from 'prop-types'
import pure from 'recompose/pure'

function {{ properCase name }}() {
  return (
    <div>
    </div>
  )
}

{{ properCase name }}.propTypes = {

}

export default pure({{ properCase name }})
