import React from 'react'
import PropTypes from 'prop-types'

function {{ properCase name }}() {
  return (
    <div>
    </div>
  )
}

{{ properCase name }}.propTypes = {

}

export default {{ properCase name }}
